
img{
  width: 100%;
  height: auto;
}

/* .detail-content{
    padding: 0;
     
  }


  /* .card-image { */
   /* width: 50%; */
    /* height: 100%;
    object-fit: cover;
    border-radius: 3px;
    opacity: 80%;
    box-shadow: 0 4px 7px rgba( 0, 0, 0, 0.25);
  } */
  /* .text-content{
    width: 100%;
  } */
  h1 {
    color:#ffff;
    font-weight: bold;
  } 
  
  /* .bx bxs-chevrons-left {
    width: 30px;
    height: 30px;
    /* padding: 5px; */
    /* border-radius: 50%;
    margin-right: 10px;
    color:#FFFF;
  } */ 
  
  span {
    font-size: 16px;
    /* font-weight: bold; */
    margin: 20px 20px 20px 0px;
  }
  
  
  .button {
    background-color: transparent;
    background: #3A5CD6;
    color: #FFFF;
    margin-top: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px ;
    font-weight: 600;
    font-size: 14px;
    border-style: none;
  }
  
  .button:hover {
    background-color: #456AEB;
    transition: transform 0.3s linear;
  }
